.shop-container {
    width: 80vw;
    margin: 2em 0 0 10vw;
    border: 1px solid red;
}

.sidebar {
    padding-right: 3em;
    margin-right: 3em;
    border-right: 1px solid black;
}

.category {
    width: max-content;
    padding: 0.2em 0;
}

.category button {
    background: none;
    border: none;
}

.category button:hover {
    color: orange;
}

.category-list {
    margin-left: 1em;
}

.product-list {
    flex-wrap: wrap;
}

.product {
    height: 300px;
    width: 200px;
    margin: 1em;
    border: 1px solid black;
}

.product-image-container {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.product img {
    max-height: 100%;
    max-width: 100%;
}