.shop-container {
    width: 80vw;
    margin: 2em 0 0 10vw;
    border: 1px solid red;
}

.sidebar {
    padding-right: 3em;
    margin-right: 3em;
    border-right: 1px solid black;
}

.category {
    width: max-content;
    padding: 0.2em 0 0 1em;
}

.category button {
    background: none;
    border: none;
}

.category button:hover {
    color: orange;
}

.product-list {
    flex-wrap: wrap;
}

.product-thumbnail {
    height: 300px;
    width: 200px;
    margin: 1em;
    border: 1px solid black;
}

.product-thumbnail .image-container {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.product-thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.product-details-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.product-details {
    height: 70vh;
    width: 60vw;
    padding-top: 1em;
    display: flex;
    border-top: 1px solid lightgrey;
}

.product-details .image-container {
    height: 100%;
    width: 60%;
}

.product-details img {
    max-height: 80%;
    max-width: 80%;
}

.product-details .info {
    width: 40%;
    padding-top: 4em;
    margin-left: 2rem;
}

.product-details .price {
    font-size: 24px;
    margin: 2em 0 0.5em 0;
    color: red;
}

.product-details .buy-options {
    align-items: flex-start;
    padding: 0;
    margin-bottom: 2rem;
}

.product-details p {
    font-size: 14px;
    margin-bottom: 0.4em;
}

.product-details input {
    font-size: 20px;
    height: 45px;
    width: 45px;
    box-sizing: border-box;
    margin-right: 2rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.product-details input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 .product-details input[type=number] {
    -moz-appearance: textfield;
}

.product-details button {
    height: 45px !important;
    box-sizing: border-box;
    font-weight: bold;
    padding: 0 1rem;
    color: white;
    background-color: var(--quaternary);
    border: none;
    border-radius: 5px;
}

.product-description {
    text-align: justify;
}

.quantity-error {
    color: red
}